*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  border: 0;
  outline: none;

  box-sizing: border-box;
}
:root{
  --color-green: rgba(14, 230, 122, 0.959);
  --color-purple: rgb(224, 49, 201);
}
body{
  background: rgb(17, 17, 17);
}

.onclick body {
  background: rgb(226, 226, 226);

  transition: background .5s;
}
.onclick .img-animal-wrapper{
  background: rgb(17, 17, 17);
}
.onclick .img-animal-wrapper img{

  box-shadow: 8px 8px 1px var(--color-purple)
}
.onclick .logo-name h1{
  color: rgb(17, 17, 17);
  
  transition: text-shadow .6s;
}
.onclick .logo-name h1:hover{
  text-shadow: 0 0 .5rem rgb(15, 15, 15);
}
.onclick .footpage ul{
  background: rgb(17, 17, 17);
}
.onclick .footpage{
  background: rgb(14, 14, 14);

}
.onclick .footpage .contact{
  color: aliceblue;
}
.onclick .footpage .contact p{
  color: rgb(196, 196, 196);
}


.homepage .line-topbar{
  width: solid 3px;
  height: .3rem;

  position: relative;
  background: var(--color-green);
  
  transition: background .5s;
}
.onclick .line-topbar{
  background: var(--color-purple);
}
.img-animal-wrapper{
  display: flex;
  justify-content: center;
  object-fit: contain;

  background: rgb(226, 226, 226);

  overflow: hidden;
}
.img-animal-wrapper img{
  width: auto;
  height: 50.1vh;

  display: flex;

  box-shadow: 8px 8px 1px var(--color-green);

  transition: box-shadow .5s;
}

.logo-name{
  width: 10rem;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin: 0 auto 34vh auto;
}

.logo-name h1{

  color: rgb(255, 255, 255);
  font-size: 3rem;

  transition: text-shadow .6s;
}
.logo-name:hover{
  text-shadow: 0 0 .5rem rgb(228, 228, 228);

}
.logo-name{
  cursor: pointer;
}
.contact p:hover{
font-weight: normal;
}
.contact h2{
  font-weight: bolder;
}
.midpage img{
  object-fit: cover;
  width: 7rem;

  display: flex;

  position: relative;
  bottom: .2rem;
  
  transition: .5s;
}
.midpage img:hover{
  width: 10rem;

  position: relative;
  bottom: 1rem;
}
.midpage ul{

  position:relative;
  display: flex;
  height: 5rem;
  background: rgb(31, 30, 30);

  box-shadow: 50px 8px 1px rgba(51, 51, 51, 0.596);

}
.midpage ul, li, a li, a{

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;
  padding: .5rem .5rem;
  
  font-weight: bolder;
  font-size: 1.3rem;

  color: inherit;
  
  transition: color .7s, text-shadow .7s, box-shadow .7s;
  
  }
.midpage a, .midpage ul{
  color: rgb(224, 224, 224);
}
.onclick .midpage a,.onclick .midpage ul{
  color: aliceblue;
}

.midpage #cr:hover{
  color: var(--color-green);
  text-shadow: 0 0 .1rem var(--color-green);
  box-shadow: 0 .2rem 1.1px var(--color-green);
}

.midpage:hover > .line-midpage{
  background: rgb(212, 209, 24);

}
.midpage #gh:hover{
  color: rgb(224, 194, 23);
  text-shadow: 0 0 .1rem rgb(224, 194, 23);
  box-shadow: -.2rem .2rem 1.1px rgb(224, 194, 23);

  background: aliceblue;
}
.midpage #ct{
  transition: background .2s;
}
.midpage #gh{
  transition: background .2s;
}
.midpage #ct:hover{
  color: var(--color-purple);
  text-shadow: 0 0 .1rem var(--color-purple);
  box-shadow: .2rem .2rem 1.1px var(--color-purple);

  background: aliceblue;
}

.line-midpage{
  width: solid 1px;
  height: .3rem;

  background: var(--color-green);

  transition: background 1.5s;
}
.onclick .line-midpage{
  background: var(--color-purple);
}

.footpage{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50%;

  background: rgb(218, 218, 218);

}
.footpage .contact{
  color:rgb(44, 44, 44);
  padding: 10rem 0 0 0;
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.contact p{
  width: 60vw;

  font-weight: lighter;
  font-size: 20px;

  display: flex;

  transition: 1s;
}

*::selection{
  color: rgb(224, 224, 224);
  background: #333;
}

body::-webkit-scrollbar {
  width: 8px;        
}

body::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(17, 17, 17);      
    border: 1px solid rgb(224, 224, 224);
}